In [65]:
import pandas as pd
import numpy as np
import os

In [66]:
#Mother Jones 
df=pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQBEbQoWMn_P81DuwmlQC0_jr2sJDzkkC0mvF6WLcM53ZYXi8RMfUlunvP1B5W0jRrJvH-wc-WGjDB1/pub?gid=0&single=true&output=csv')
df.info()
print('-----------------------')
print('\n')
print('\n')
df.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   case                              139 non-null    object
 1   location                          139 non-null    object
 2   date                              139 non-null    object
 3   summary                           139 non-null    object
 4   fatalities                        139 non-null    int64
 5   injured                           139 non-null    object
 6   total_victims                     139 non-null    object
 7   location.1                        139 non-null    object
 8   age_of_shooter                    139 non-null    object
 9   prior_signs_mental_health_issues  139 non-null    object
 10  mental_health_details             139 non-null    object
 11  weapons_obtained_legally          139 non-null    object
 12  where_obtained                    139 non-null    object
 13  weapon_type                       139 non-null    object
 14  weapon_details                    138 non-null    object
 15  race                              139 non-null    object
 16  gender                            139 non-null    object
 17  sources                           139 non-null    object
 18  mental_health_sources             139 non-null    object
 19  sources_additional_age            139 non-null    object
 20  latitude                          139 non-null    object
 21  longitude                         139 non-null    object
 22  type                              139 non-null    object
 23  year                              139 non-null    int64
dtypes: int64(2), object(22)
memory usage: 26.2+ KB
-----------------------

,case,location,date,summary,fatalities,injured,total_victims,location.1,age_of_shooter,prior_signs_mental_health_issues,...,weapon_details,race,gender,sources,mental_health_sources,sources_additional_age,latitude,longitude,type,year
0,Half Moon Bay spree shooting,"Half Moon Bay, California",1/23/23,"Chunli Zhao, 67, suspected of carrying out the...",7,1,8,workplace,67,-,...,-,Asian,M,https://www.cnn.com/us/live-news/half-moon-bay...,-,-,-,-,Spree,2023
1,LA dance studio mass shooting,"Monterey Park, California",1/21/23,"Huu Can Tran, 72, fled the scene in a white va...",11,10,21,Other,72,yes,...,-,Asian,M,https://www.latimes.com/california/story/2023-...,https://www.latimes.com/california/story/2023-...,-,-,-,Mass,2023

In [92]:
df2=(df
     .copy()
     .loc[:,['fatalities','total_victims', 'weapon_type' ]]
     .where(df.weapon_type!="-")
     
#      .where(df.weapon_details(pd.notnull(df.weapon_details)))
    )
df2=df2[df2['weapon_type'].notna()]
df2

,fatalities,total_victims,weapon_type
1,11.0,21,semiautomatic assault weapon (Details pending)
2,6.0,12,semiautomatic handgun
3,5.0,30,semiautomatic rifle; semiautomatic handgun
4,3.0,5,semiautomatic pistol
5,5.0,7,"shotgun, semiautomatic handgun"
...,...,...,...
134,6.0,20,"One rifle, one revolver, one shotgun"
135,15.0,21,Three semiautomatic handguns
136,22.0,41,"One semiautomatic handgun, one rifle (assault)..."
137,6.0,7,One semiautomatic handgun
138,8.0,11,One shotgun

In [110]:
#trying dummies
df3=df2.weapon_type.str.get_dummies(';')
df3

,.38 revolver,also a .45-caliber handgun taken from a security guard he shot at the scene.,"including scopes, and two modified for ""fully automatic"" firing",one semiautomatic handgun,semiautomatic handgun,semiautomatic handgun\n,semiautomatic handguns,shotgun,tactical vest,two were mounted on tripods,...,semiautomatic handguns,semiautomatic pistol,semiautomatic rifle,semiautomatic rifle and semiautomatic handgun,"semiautomatic rifle, semiautomatic handgun",semiautomatic rifles,shotgun,"shotgun, semiautomatic handgun",shotguns,two handguns
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
136,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
137,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
138,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [107]:
def clean_column_names(df):
    '''
    function to call on after DataFrame is created to format column names in lowercase 
    without spaces before querying.
    
    :param query: DataFrame
    :returns: DataFrame with columns formatted  
    '''
    import pandas as pd 
    
    columns=df.columns
    new_names=[]
    char_dict={' ':'_',':':'', '/n':'',}
    word_dict={'one semiautomatic handgun':'semiautomatic handgun',
               'semiautomatic handguns':'semiautomatic handgun'
              }
    for c in columns:
        new_names.append(c
            .lower()
            .translate(char_dict)
          )
    df.columns=new_names

    return df


df4=clean_column_names(df3)
df4

,.38 revolver,also a .45-caliber handgun taken from a security guard he shot at the scene.,"including scopes, and two modified for ""fully automatic"" firing",one semiautomatic handgun,semiautomatic handgun,semiautomatic handgun\n,semiautomatic handguns,shotgun,tactical vest,two were mounted on tripods,...,semiautomatic handguns,semiautomatic pistol,semiautomatic rifle,semiautomatic rifle and semiautomatic handgun,"semiautomatic rifle, semiautomatic handgun",semiautomatic rifles,shotgun,"shotgun, semiautomatic handgun",shotguns,two handguns
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
136,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
137,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
138,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [112]:
df4.columns

Index([' .38 revolver',
       ' also a .45-caliber handgun taken from a security guard he shot at the scene.',
       ' including scopes, and two modified for "fully automatic" firing',
       ' one semiautomatic handgun', ' semiautomatic handgun',
       ' semiautomatic handgun\n', ' semiautomatic handguns', ' shotgun',
       ' tactical vest', ' two were mounted on tripods', '2 assault rifles',
       '2 handguns', '23 firearms, mostly rifles',
       '9mm semi-automatic handgun',
       'assault rifle, high capacity magazines, antique handgun\n',
       'five pistols, one rifle, five magazines of ammunition', 'handgun',
       'one revolver', 'one revolver, one shotgun', 'one rifle',
       'one rifle (assault)', 'one rifle, one revolver',
       'one rifle, one revolver, one shotgun', 'one rifle, one shotgun',
       'one rifle, two shotguns', 'one semiautomatic handgun',
       'one semiautomatic handgun (assault), one rifle (assault), two shotguns',
       'one semiautomatic handgun, one revolver',
       'one semiautomatic handgun, one rifle (assault)',
       'one semiautomatic handgun, one rifle (assault), one shotgun',
       'one semiautomatic handgun, one rifle, one shotgun',
       'one semiautomatic handgun, two rifles, one derringer, one shotgun',
       'one shotgun', 'rifle', 'sawed-off shotgun, 2 boxes of shells',
       'semiautomatic handgun', 'semiautomatic handgun, shotgun',
       'semiautomatic rifle, semiautomatic handgun',
       'semiautomatic rifle, semiautomatic handguns', 'shotgun',
       'three semi-automatic handguns and two hunting knives',
       'three semiautomatic handguns',
       'three semiautomatic handguns (two assault)',
       'three semiautomatic handguns (two assault), one rifle (assault), one revolver',
       'three semiautomatic handguns, one revolver',
       'three semiautomatic handguns, one shotgun',
       'two assault rifles and two semi-automatic pistols were used in the attack. police found a remote controlled explosive device at the scene of the crime. at the home were 12 pipe bombs, 2,500 rounds for the ar-15 variants, 2,000 rounds for the pistols, and several hundred for a .22 calibre rifle. in the suspects' car were an additional 1,400 rounds for the rifles and 200 for the handguns.',
       'two handguns\n', 'two handguns and a butcher knife',
       'two handguns and a rifle', 'two rifles (both assault), one revolver',
       'two rifles, one revolver, one shotgun', 'two semiautomatic handguns',
       'two semiautomatic handguns, one revolver',
       'two semiautomatic handguns, one rifle',
       'two semiautomatic handguns, one rifle (assault), one shotgun',
       'two semiautomatic handguns, one rifle (assault), one shotgun (assault)',
       'two semiautomatic handguns, one rifle, two revolvers, two shotguns',
       'two semiautomatic handguns, one shotgun',
       'two semiautomatic handguns, two rifles, three revolvers, two derringers',
       'two semiautomatic rifles', 'handgun', 'handgun\n', 'handgun, shotgun',
       'semiautomatic assault weapon (details pending)',
       'semiautomatic handgun', 'semiautomatic handgun\n',
       'semiautomatic handguns', 'semiautomatic pistol', 'semiautomatic rifle',
       'semiautomatic rifle and semiautomatic handgun',
       'semiautomatic rifle, semiautomatic handgun', 'semiautomatic rifles',
       'shotgun', 'shotgun, semiautomatic handgun', 'shotguns',
       'two handguns'],
      dtype='object')

In [128]:
df5=df2[['total_victims', 'fatalities']]
#multiple quantities
df5['semiautomatic handgun']=df4.filter(regex='two', axis=1).sum(axis=1)
#sum
df5['rifle']=df4.filter(regex='rifle', axis=1).sum(axis=1)
df5['semiautomatic handgun']=df4.filter(regex='semi[^a-z]automatic handgun[a-z]|semiautomatic handgun', axis=1).sum(axis=1)
df5

    total_victims  fatalities  semiautomatic handgun
1              21        11.0                      0
2              12         6.0                      4
3              30         5.0                      7
4               5         3.0                      0
5               7         5.0                      7
..            ...         ...                    ...
134            20         6.0                      0
135            21        15.0                      7
136            41        22.0                      7
137             7         6.0                      7
138            11         8.0                      0

[138 rows x 3 columns]