In [4]:
import pandas as pd
import numpy as np
import os
import altair as alt
alt.data_transformers.disable_max_rows()
from datetime import datetime
from scipy import stats
import matplotlib.pyplot as plt

In [5]:
#cwd
cwd=os.getcwd()

# DESCRIPTION

This is the first part of a two part series. In this piece we will evaluate the results of the A/B test.

This exercise is taken from the Udemy course on [A/B Testing ](https://www.udemy.com/course/ab-testing-in-python), which relates to a social media company Kittengram who will run an A/B test in their website after partnering with an Ads company that focuses on Cat Ads in order to increase their Click Through Rate (CTR). The company provides two dataset 1) Activity Level of Users and 2)CTR, post-processed

# SUMMARY

# DATA EXPLORING

## 1) Assigments

In [6]:
## Loading the data from a .csv file 
data = pd.read_csv(cwd+"/resources/assignments.csv")
data.head()

                                 userid                    ts  groupid
0  c5d77c89-33a3-4fe3-9e31-179dec09d49c  2021-11-02T07:31:42Z        0
1  9061d751-7a94-44d3-8792-5ca5ec59aa89  2021-11-13T07:43:51Z        0
2  a5b70ae7-f07c-4773-9df4-ce112bc9dc48  2021-11-20T19:26:07Z        0
3  d2646662-269f-49de-aab1-8776afced9a3  2021-11-20T11:09:02Z        0
4  2d9b23b7-4e5e-4162-9f0f-49e593fdd2b5  2021-11-04T07:42:07Z        0

In [15]:
## converting ts to date

dt=(data
    .ts[0]
   )
dt

AttributeError: 'str' object has no attribute 'apply'